@import "../../styles/variables";

.audio-player-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.audio-player-buttons i {
  font-size: 1.4em;
  padding: 7px;
}

.record-section {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.record-button {
  width: 50px;
  height: 50px;
  border: 1px solid $watermelon;
  background: $watermelon;
  border-radius: 50%;
  padding: 7px;
  color: $neutral;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.audio-upload {
  width: 35px;
  height: 35px;
  border: 1px solid $carbon;
  border-radius: 50%;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  position: relative;
  left: 20px;
}

.record-upload-audio {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.record-button-container {
  display: flex;
  justify-content: flex-end;
}

.audio-upload-container {
  display: flex;
  align-items: center;
}

.player {
  position: relative;
  height: 60px;
  display: flex;
  border-radius: 2px;
  padding: 5px 16px;
  img {
    margin-top: 5px;
    width: 60px;
    height: 50px;
  }
  .info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 83%;
    padding-left: 10px;
    padding-right: 5px;
    .name {
      font-size: 15px;
      font-weight: 700;
    }
    .singer {
      font-size: 12px;
    }
  }
  .btns {
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;

    div:nth-child(1) {
      font-size: 30px;
    }
    div:nth-child(2), div:nth-child(3) {
      font-size: 18px;
    }

  }
  .progress {
    position: absolute;
    height: 2px;
    left: 0;
    top: 0;
    background-color: $carbon;
  }
}


@font-face {
  font-family: iconfont;
  src: url('//static0.qianqian.com/web/st/font/iconfont-4e6.woff') format('woff')
}

.iconfont {
  font-family: iconfont!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.media {
  width: 100%;
  padding: 5px;
}

.audio.audio-player {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  background: $watermelon;
  padding: 0px 10px;
  border-radius: 7px 17px;
  span {
    background: transparent;
    border: none;
  }
  .play-pause-btn {
    cursor: pointer;
    padding-left: 2px;
    .icon {
      color: #fff;
    }
  }
  .slider {
    flex-grow: 1;
    background-color: #D8D8D8;
    cursor: pointer;
    position: relative;
    .progress {
      background-color: $carbon;
      border-radius: inherit;
      position: absolute;
      pointer-events: none;
      .pin {
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background-color: #fff;
        position: absolute;
        pointer-events: all;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.32);
      }
    }
  }
  .controls {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    .slider {
      margin-left: 16px;
      margin-right: 16px;
      border-radius: 2px;
      height: 4px;
      .progress {
        width: 0;
        height: 100%;
        .pin {
          right: -8px;
          top: -6px;
        }
      }
    }
    span {
      cursor: default;
    }
  }
}
svg, img {
  display: block;
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}

.recorder-controls{
  background-color: whitesmoke;
}

.recorder-timer-container {
  position: absolute;
  background: #fafafa;
  margin-top: 40px;
  border-radius: 5px;
  padding: 0 5px;
  opacity: 0.8;
}

.recorder-timer-container h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.record-and-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/********
* ICONS *
*********/

.icon-list:before {
  content: "\e603"
}

.icon-loop-single:before {
  content: "\e604"
}

.icon-arrow-right:before {
  content: "\e605"
}

.icon-loop:before {
  content: "\e606"
}

.icon-prev:before {
  content: "\e607"
}

.icon-favor:before {
  content: "\e608"
}

.icon-next:before {
  content: "\e60a"
}

.icon-download:before {
  content: "\e60b"
}

.icon-search:before {
  content: "\e60c"
}

.icon-zhanwei1:before {
  content: "\e610"
}

.icon-favor1:before {
  content: "\e618"
}

.icon-random:before {
  content: "\e619"
}

.icon-play:before {
  content: "\e616"
}

.icon-stop:before {
  content: "\e617"
}

.icon-mv:before {
  content: "\e61b"
}

.icon-arrow-down:before {
  content: "\e61d"
}

.icon-arrow-left:before {
  content: "\e61e"
}

.icon-arrow-up:before {
  content: "\e61f"
}

.icon-listen:before {
  content: "\e609"
}

.icon-round:before {
  content: "\e60d"
}

.icon-triangle:before {
  content: "\e60e"
}

.icon-information:before {
  content: "\e60f"
}

.icon-home:before {
  content: "\e611"
}

.icon-i:before {
  content: "\e612"
}

.icon-information-:before {
  content: "\e613"
}

.icon-bubble-filled-icon:before {
  content: "\e614"
}

.icon-round-right:before {
  content: "\e615"
}

.icon-vip:before {
  content: "\e61a"
}

.icon-word:before {
  content: "\e61c"
}