// Set your brand colors
$sky: #CAEBF2;
$carbon: #A9A9A9;
$watermelon: #FF3B3F;
$neutral: #EFEFEF;
$dark: #323232;

$myBlue: #59A4C0;
$myMauve: #7F656A;
$nancysBlushes: #F9B8B7;
$calamine: #F4DED9;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$greatWhite: #E7E7DE;
$railings: #2F3236;
$cabbageWhite: #E9F1E9;
$wevet: #F7F3EC;

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$grey-dark: $dark;
$grey-light: $neutral;
$primary: $watermelon;
$link: $watermelon;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
//$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-item-img-max-height: 2.75rem;