@import '_base.scss';

html {
  background: #fafafa;
}

#app {
  max-width: 1000px;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}

// @media only screen and (min-width: 800px) {
//   #app {
//     border-left: 1px solid $carbon;
//     border-right: 1px solid $carbon;
//   }
// }