nav.navbar {
    background-color: #fafafa;
}
nav#navbarTop {
    align-items: center;
    padding-top: 6px;
    min-height: 3.25rem
}
.footer {
    padding: 0rem !important;

    a{
        font-size: 1.5rem
    }
    .column {
        padding: 0 0.75rem
    }
    span.file-cta {
        background-color: #fafafa;
        border: none;
        font-size: 1.5em;
        padding-left: 0em;
        padding-right: 0em;
    }
    .field.navbar-item {
        margin-bottom: 0rem;
    }
    span.file-label {
        display: none;
    }
}

@media screen and (min-width: 1088px) {
    nav#navbarTop {
       display: grid;
    }
}

