@import "../../styles/variables";

nav.navbar {
    border-bottom: 1px solid $carbon;
}

nav#navbarTop {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 3.25rem;

    .title {
      font-size: 7vw!important;
    }
}
.footer {
    padding: 0rem !important;

    a{
        font-size: 1.5rem
    }
    .column {
        padding: 0 0.75rem
    }
    span.file-cta {
        background-color: #fafafa;
        border: none;
        font-size: 1.5em;
        padding-left: 0em;
        padding-right: 0em;
    }
    .field.navbar-item {
        margin-bottom: 0rem;
    }
    span.file-label {
        display: none;
    }
}

.tabs ul {
    border-bottom: none !important;
}

@media screen and (min-width: 1088px) {
    nav#navbarTop {
       display: grid;
    }
}

.burger {
  background: transparent!important;
  min-height: 3.25rem!important;
  margin-top: 6px!important;
}

#navbarBottom {
  bottom: -2px!important;
}

.navbar-end {
  text-align: center;

  .navbar-item {
    color: $dark;
  }
}

.header-nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-nav-container li {
  width: 20%;
}

.header-nav-container span {
  color: $dark;
  font-size: 1.3rem;
}

.header-nav-title {
  width: 60%!important;
  white-space: nowrap;
}

.footer-navbar-container {
  position: fixed;
  bottom: -1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  height: 46px;
  background: #fff;
  align-items: center;
  padding: 15px;
  border-top: 1px solid $carbon;
}

.footer-navbar-container ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.footer-navbar-burger {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
}

.footer-navbar-burger span {
  width: 22px;
  height: 2px;
  background: $dark;
  margin: 2px 0;
  transition: 0.4s;
}

.footer-navbar-close span:first-child {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
  transform: rotate(-45deg) translate(-5px, 5px) ;
}

.footer-navbar-close span:not(:first-child):not(:last-child) {
  opacity: 0;
}

.footer-navbar-close span:last-child {
  -webkit-transform: rotate(45deg) translate(-3px, -4px) ;
  transform: rotate(45deg) translate(-3px, -4px) ;
}

.footer-navbar-menu {
  position: absolute;
  background: #fff;
  right: 0;
  bottom: 45px;
  font-size: 1.1em;
  font-weight: 600;
  border-left: 1px solid $carbon;
  border-top: 1px solid $carbon;
  padding: 5px;
  display: none;
}

.menu-active {
  display: flex;
}

.footer-navbar-icons li {
  font-size: 1.3em;
}

.footer-navbar-items .navbar-item {
  border-bottom: 1px solid $neutral;
}

.footer-navbar-items .navbar-item:last-child {
  border-bottom: none!important;
}

.icon-selected {
  color: $watermelon!important;
}

@media only screen and (min-width: 750px) {
  nav#navbarTop {
    .title {
      font-size: 3vw!important;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .footer-navbar-menu {
    font-size: 1.6em;
  }
}