@import "../styles//variables";

.create-section {
  display: flex;
  flex-direction: column;
}

.create-top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create-top-input {
  width: 60%;
}

.create-top-buttons {
  width: 40%;
  text-align: center;
}

.home-icons {
  display: flex;
  border-bottom: 1px solid $carbon;
  color: $watermelon;
}

.list-icon {
  width: 50%;
  height: 40px;
  border-right: 1px solid $carbon;
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 1.1em;
}

.list-icon span {
  margin: 0 auto;
  font-size: 1.2em;
}

.map-icon {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 1.3em;
}

.map-icon span {
  margin: 0 auto;
}

.create-bottom-section {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 20px 10px;
}

.mapboxgl-popup-content {
  padding: 8px 5px 8px 5px;
}