@import "../styles//variables";

.create-section {
  display: flex;
  flex-direction: column;
}

.create-top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create-top-input {
  width: 65%;
}

.create-top-buttons {
  width: 35%;
  text-align: center;
}

.create-mid-section {
  margin-bottom: 67px;
}

.home-icons {
  display: flex;
  border-bottom: 1px solid $carbon;
  color: $dark;
}

.list-icon {
  width: 50%;
  height: 40px;
  border-right: 1px solid $carbon;
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 1.1em;
}

.list-icon span {
  margin: 0 auto;
  font-size: 1.2em;
}

.map-icon {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 1.3em;
}

.map-icon span {
  margin: 0 auto;
}

.create-bottom-section {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: .75rem 0;
  width: 100%;
  background: #fff;
  bottom: 45px;
  // box-shadow: 1px -3px 6px 0 rgba(0,0,0,.2)
}

.mapboxgl-popup-content {
  padding: 8px 5px 8px 5px;
}