.navbar-brand {
    font-size: 35px;
    font-family: 'Alegreya SC', serif;
}
div.navbar-burger.burger {
    height: 68px;
    width: 68px;
}

//div#navbarExampleTransparentExample {
//    background-color: #363636;
//}

.navbar.is-dark {
    background-color: #363636;
    color: #f5f5f5;
}
