@import "../../../styles/variables";

.searchBox {
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 100%;
  height: 30px;
  padding: 0 12px;
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
  transition: 0.3s;
}

.searchBox:focus {
  background: #fff;
  transition: 0.3s;
  border-bottom: 1px solid #15202a33;
}

.street-view-view {
  width: 100%;
  height: 375px;
}

input {
  text-align: center;
}

.input .is-primary {
  border: none;
  border-bottom: 1px solid $carbon!important;
  border-radius: 0;
}

.input-control .is-danger {
  border: none;
  border-bottom: 1px solid $watermelon!important;
  border-radius: 0;
}

.input-field {
  width: 90%;
  margin: 15px auto;
}

.input-error {
  text-align: center;
}

@media only screen and (min-height: 800px) {
  .street-view-view {
    height: 450px;
  }
}

@media only screen and (min-width: 700px) {
  .street-view-view {
    height: 700px;
  }
}

@media only screen and (min-width: 700px) {
  .street-view-view {
    height: 700px;
  }
}

@media only screen and (min-height: 1100px) {
  .street-view-view {
    height: 1100px;
  }
}