@import '../../styles/variables';

.upload-image {
  width: 100%;
  height: 375px;
  background: #fafafa;
  border-bottom: 1px solid $carbon;
}

.upload-image img {
  position: absolute;
  width: 100%;
  height: 375px;
}

.upload-image .file-label {
  justify-content: flex-end!important;
  padding: 20px;
}