@import "../../styles/variables";

.form-btn {
  width: 80%;
  position: absolute!important;
  left: 0;
  right: 0;
  margin-top: 5px!important;
  margin: 0 auto;
  border: 1px solid $carbon!important;
}

.view-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $watermelon;
  padding: 20px;
  background: #fff;
}

.view-toggle li {
  padding: 5px;
  border: 1px solid $watermelon;
  border-radius: 3px;
}

.view-toggle li:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.view-toggle li:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.view-toggle .tab-toggle {
  background: $watermelon;
  color: #fff;
}

.draft-toggle .tab-toggle {
  background: $watermelon;
  color: #fff;
}

.expert-container {
  padding: 10px;
}

.expert-container h1 {
  font-weight: bold;
}