@import "../../styles/variables";

.form-btn {
  width: 80%;
  position: absolute!important;
  left: 0;
  right: 0;
  margin-top: 5px!important;
  margin: 0 auto;
  border: 1px solid $carbon!important;
}