@import "../../styles/variables";

.is-hidden {
  display: none;
}

.steps-container {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0.5rem 1.5rem;
}

.text-center {
  text-align: center;
}
.step-header.columns {
  border: 1px solid $sky;
  margin-top: 0px
}

.step-header.column {
  padding: 0px;
  border-right: 1px solid $sky;
}
a.button.is-fullwidth.is-white.skip {
  border-bottom: 1px solid $sky;
}
.button p.subtitle {
  padding-top: 0px
}
.button.subtitle {
  padding: 0px;
  border: none;
  margin-bottom: 0px !important;
}
.button.is-backlit {
  background-color: $neutral;
  border-radius: 0px;
  border-color: $sky
}

.placecast-tile-info {
  padding: 10px;
  color: $dark;
}

.create-top-button {
  color: $dark;
  opacity: 0.3;
  margin-right: 12px;
  font-size: 1.4em;
}

.button-active {
  opacity: 1!important;
}

.create-toggle-list {
  display: flex;
  flex-direction: row;
  background: #fff;
}

.create-toggle-list li {
  border: 1px solid $carbon;
  text-align: center;
  color: $dark;
  font-size: 1.2em;
}

.create-toggle-list li {
  border-left: none;
}

.create-toggle-list li:last-child {
  border-right: none;
}

.create-toggle-list .is-active {
  color: $watermelon;
}

.photo-edit-icons {
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 2;
  top: 0;
}

.overlay-icon i {
  font-size: 1.2em;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.placecast-header {
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
  color: $dark;
}

.placecast-header h2 {
  font-size: 1.1em;
  font-weight: 600;
}

.home-icons {
  background: #fff;
}

.active-toggle {
  color: $watermelon!important;
}

.sticky-home-icons {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
}

.sticky-toggle-icons {
  position: fixed;
  width: 100%;
  max-width: 1000px;
  top: 0;
  z-index: 9;
}

.placecast-item {
  margin-bottom: 50px;
}

.placecast-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.placecast-options-menu {
  position: absolute;
  background: #fff;
  right: 0;
  padding: 5px 10px;
  border: 1px solid $carbon;
  border-right: none;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.32);
  font-size: 1.3em;
}

.placecast-options-menu p {
  opacity: 0.4;
}

.hide-options-menu {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .create-toggle-list {
    border-left: 1px solid $carbon;
    border-right: 1px solid $carbon;
  }

  .placecast-item {
    margin: 10px 2px 40px 2px;
    border: 1px solid $carbon;
    border-radius: 3px;
    background: #fff;
  }

  .hide-options-menu {
    display: block;
    margin: 0 auto;
  }

  .create-top-input {
    width: 70%!important;
  }

  .create-top-buttons {
    width: 30%!important;
  }

  .placecast-options-menu {
    position: relative;
    border: none;
    box-shadow: none;
    display: flex;
    font-size: 1.1em!important;
  }

  .placecast-options-menu p {
    border: 1px solid $dark;
    border-radius: 3px;
    padding: 3px 10px;
    margin-right: 3px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 800px) {
  .placecast-item {
    margin: 10px 2px 40px 2px;
    border: 1px solid $carbon;
    border-radius: 3px;
    background: #fff;
  }
}

@media only screen and (min-width: 700px) {
  .placecast-options-menu {
    font-size: 1.6em;
  }
}