@import "../../styles/variables";

.is-hidden {
  display: none;
}

.steps-container {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0.5rem 1.5rem;
}

.text-center {
  text-align: center;
}
.step-header.columns {
  border: 1px solid $sky;
  margin-top: 0px
}

.step-header.column {
  padding: 0px;
  border-right: 1px solid $sky;
}
a.button.is-fullwidth.is-white.skip {
  border-bottom: 1px solid $sky;
}
.button p.subtitle {
  padding-top: 0px
}
.button.subtitle {
  padding: 0px;
  border: none;
  margin-bottom: 0px !important;
}
.button.is-backlit {
  background-color: $neutral;
  border-radius: 0px;
  border-color: $sky
}

.placecast-tile-info {
  padding: 10px;
  color: $dark;
}

.create-top-button {
  color: $dark;
  opacity: 0.3;
  margin-right: 17px;
  font-size: 1.8em;
}

.button-active {
  opacity: 1;
}

.create-toggle-list {
  display: flex;
  flex-direction: row;
}

.create-toggle-list li {
  border: 1px solid $carbon;
  text-align: center;
  color: $dark;
  font-size: 1.2em;
}

.create-toggle-list li {
  border-left: none;
}

.create-toggle-list li:last-child {
  border-right: none;
}

.create-toggle-list .is-active {
  background: $neutral;
}

.photo-edit-icons {
  padding: 20px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.overlay-icon i {
  font-size: 1.2em;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  margin-left: 10px;
}