@import "../../styles/variables";


.is-hidden {
  display: none;
}

.steps-container {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0.5rem 1.5rem;
}

.text-center {
  text-align: center;
}
.step-header.columns {
  border: 1px solid $myBlue;;
  margin-top: 0px
}

.step-header.column {
  padding: 0px;
  border-right: 1px solid $myBlue;
}
a.button.is-fullwidth.is-white.skip {
  border-bottom: 1px solid #59A4C0;
}
.button p.subtitle {
  padding-top: 0px
}
.button.subtitle {
  padding: 0px;
  border: none;
  margin-bottom: 0px !important;
}
.button.is-backlit {
  background-color: $myBlue;
  border-radius: 0px;
  border-color: $myBlue
}

.home-icons {
  display: flex;
  border-bottom: 1px solid $carbon;
  color: $carbon;
}

.list-icon {
  width: 50%;
  height: 40px;
  border-right: 1px solid $carbon;
  display: flex;
  align-items: center;
  align-self: center;
}

.list-icon span {
  margin: 0 auto;
}

.map-icon {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  align-self: center;
}

.map-icon span {
  margin: 0 auto;
}